@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* clearfix */

.container:before,
.container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.container {
  zoom: 1;
}

body {
  font-family: 'Open Sans','Myriad Pro','Myriad',sans-serif;
  color: #1D1313;
  font-weight: 300;
  margin:0;
}

h1, h2, h3, h4, ul dl dt {
  font-family: 'Old Standard TT',serif;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px 0;
  background: #fff;
  border: solid #d22042;
  border-width: 2px 0 0 0;
  text-align: left;
}

.resume {
  position: relative;
  padding: 10px 20px;
}

blockquote a {
  color: #1D1313;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

blockquote a:hover {
  color: #d22042;
}

a {
  color: #d22042;
}

a[href$='.pdf'] {
  display: inline-block;
  background: #1D1313;
  color: white;
  padding: 6px 12px;
  margin-bottom: 6px;
  text-decoration: none;
}

blockquote {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  text-align: right;
}

hr:nth-of-type(1) {
  margin-top: 32px;
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 18px auto;
  width: 100%;
  clear: both;
  border: none;
  border-top: 1px solid #CCC;
  font-size: 1px;
  line-height: 0;
  overflow: visible;
  page-break-after: avoid;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  letter-spacing: -1px;
  font-weight: normal;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  font-weight: normal;
}

h3 {
  margin: 0;
  padding: 0 0 .5em;
  font-size: 150%;
  font-style: italic;
  font-weight: normal;
}

p {
  margin: .6em 0 16px;
  padding: 0;
  display: block;
  font-size: 104%;
  line-height: 24px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0;
  padding: 0;
}

ul li p {
  margin: 1em 0.5em;
  line-height: 120%;
}

ul dl {
  margin: .3em 0 0;
  padding: 0;
  width: 100%;
}

ul dl dt {
  font-size: 100%;
}

ul dl dd {
  margin: 0 0 1em;
  padding: 0 2em 0 0;
  font-size: .8em;
  line-height: 1.5em;
}

ol {
  margin: 0;
  padding: 0 0 .75em;
  width: 84%;
  display: inline-block;
}

ol li {
  margin: 0 0 0 1em;
  padding: 0;
  width: 100%;
  float: left;
  list-style: none;
  line-height: 24px;
  font-size: 14px;
}

dl {
  display: inline-block;
  width: 75%;
  margin: 0;
  padding: 0;
}

dl dt {
  margin: 0;
  padding: 0;
  font-size: 140%;
}

dl dd {
  margin: 0 0 1.5em;
  padding: 0;
  font-size: 80%;
  line-height: 1.4em;
}

dl strong {
  display: block;
}

dl em {
  display: block;
  font-size: 110%;
  margin: .15em 0 .5em;
  font-style: bold;
}

#footer {
  display: none;
}

#footer + p {
  width: 100%;
  font-size: 11px;
  text-align: center;
}

@media screen {
  body {
    padding: 0;
  }
  .container {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 100%;
  }
  .resume {
    margin: 0 auto;
    padding: 40px 50px;
    width: 912px;
  }
  blockquote {
    top: 40px;
    right: 50px;
    position: absolute;
  }
  h1 {
    margin-top: 0;
    font-size: 44px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: normal;
  }
  h2 {
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: normal;
  }
  h3 {
    float: left;
    width: 16%;
  }
  h3 ~ p {
    float: left;
    margin-left: 16%;
  }
  h3 + p {
    margin-left: inherit;
    float: left;
    width: 84%;
  }
  ul li {
    width: 28%;
    float: left;
  }
  ul dl dt {
    font-size: 122%;
    font-weight: normal;
    margin-bottom: 0.75em;
  }
  ul dl dd {
    padding: 0 4em 0 0;
  }
  ol {
    float: left;
    margin: 0.6em 0 0;
  }
  ol li {
    width: 33%;
    margin: 0;
  }
  ol li:nth-child(3n) {
    width: 34%;
  }
  ol li:nth-child(1),
  ol li:nth-child(2),
  ol li:nth-child(3) {
    border-top: none;
  }
  dl {
    margin: 0.5em 0 0;
  }
  dl strong {
    float: right;
    margin-top: -2em;
  }
  dl em {
    font-size: 130%;
    font-style: normal;
  }
}

@media (max-width: 1000px), print {
  blockquote {
    top: 25px;
    right: 50px;
    position: absolute;
  }
  h1 {
    margin-top: 0.5em;
  }
  ol {
    margin: 0 0 0 2em;
    padding-bottom: 0;
    width: 100%;
  }
  ol li {
    width: 33%;
    margin: 0;
  }
  ol li:nth-child(1),
  ol li:nth-child(2) {
    border-top: none;
  }
  ul li {
    width: 33%;
    float: left;
  }
  p {
    margin-left: 25px;
    font-size: 14px;
    line-height: 20px;
  }
  p strong, p em {
    font-size: 17px;
    line-height: 24px;
  }
}

@media screen and (max-width: 625px) {
  ul li {
    width: 100%;
  }
  ul br:nth-of-type(1) {
    display: none;
  }
  ul a {
    line-height: 130%;
  }
  blockquote {
    float: right;
    position: static;
  }
  p {
    margin-left: 5px;
    font-size: 12px;
    line-height: 16px;
  }
  p strong, p em {
    font-size: 14px;
    line-height: 20px;
  }
  ol li {
    width: 50%;
    margin: 0;
    font-size: 12px;
  }
}

/* Print also shares the same styles as the under 1000px layout */
@media print {
  .container {
    border-top: none;
  }
  .not-printed {
    display: none;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .page-break {
    page-break-before: always;
    padding-top: 20px;
  }
}

@page {
  size: auto;
  margin: 10mm;
}